body {
    max-width: 400px;
    font-family: 'Radio Canada', sans-serif;
    margin: 0 auto;
    text-align: justify;
    background: white;
    color: black;
    font-size: 16px;
    line-height: 1.7;
}

.title {
    margin-bottom: 0;
}

.author {
    margin-top: 0;
    font-size: smaller;
}

.footer {
    font-size: smaller;
    margin-top: 40px;
}